.footer{
    grid-column:1/6;
    grid-row:7/8;
    background:#777677;
    justify-content:right;
    /* border-bottom-right-radius:20%; */
    /* font-size:50px; */
    }

#footer-content{
    display: flex;
    color:white;
}

.footer h2{
    padding:30px;
    color: #cccccc;
    text-align: center
}

#footer-content ul{
    text-align: center;
    list-style: none;
    font-size: 20px;
}

#footer-content > ul > li{
    padding:5px 0;

}