.nav2{
    grid-column: 1/5;
    grid-row:4/5;
    display: flex;
    justify-content: center;
    border-bottom: white 5px solid;
    align-items: center;
    box-sizing: border-box;
  }

  .nav2 div{
    padding: 0 20px;
    color:white;

  }
