.nav{
    grid-column:2/5;
    display:flex;
    background:skyblue;
    justify-content:right;
    border-bottom-right-radius:20%;
    /* font-size:50px; */
    }
  
  
    
    
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  
  .nav div{
    padding:30px;
    /* font-size:50px; */
    transition: padding .50s; /* Animation */
  }
  .nav:hover{
    /* transform: padding; (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    padding:20px;
  }
  
    .nav::before{
      position: absolute;
      width:100%;
      height: 80px;
      content: '';
      background: inherit;  
      top:0;
      bottom:0;
      left:0;
      right:0;
      transform-origin: bottom right;
      transform: skewY(-2.5deg);
      z-index:-1;
  }
  