.showcase2{
    grid-column: 1/5;
    grid-row:5/6;  
    height: 400px;
    background: transparent;
    color:#333;
    text-align:center;
    /* background:url(../1.jpeg); */
 
  } 
 
 
 
  #productTypes{
    height: 500px;
    width:100%;
    background: #333;
    /* background:#232f3e; */
    box-sizing: border-box;
    color:white;
    display: flex;
    position:relative;
   }
 
   #productTypes::before{
     content: 'Get Your Self A Custom Solution according to Your Need!';
     background: #333;
     /* background: #232f3e; */
     height: 50px;
     width:100%;
     position: absolute;
     top:0px;
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
     font-size: 30px;
     padding: 30px;
     /* z-index: -1; */
   }
 
 #productTypes *{
   font-size: 50px;
 }