.showcase{
    grid-column:1/5;
    grid-row:3/4;
    background:url(../css/1.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

 .showcase *{
    color:black;
   text-align:center;
   padding-top:100px;
  }
  