*{
  padding:0;
  margin:0;
}

body{
  /* background:#ccc; */
  background: #333;

}

.container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:100px 30px 500px 80px 500px 800px 400px;
  position:relative;
}